<div class="control-section">
    <div class="control-section">
<div class="row pl-4 pr-4" style="margin-right: 0px !important;margin-left: 0px !important;">
    <div [ngClass]="gridclass"  >
        <ejs-treegrid id="treegrid" #treegrid
                      [dataSource]="lstdatamodal"
                      [treeColumnIndex]=1
                      [editSettings]='editSettings'
                      [selectionSettings]='selectionOptions'
                      [allowFiltering]="FilterColumns"
                      [resizeSettings]="resizeSettings"
                      [allowSorting]="true"
                      [sortSettings]='sortSettings'
                      childMapping="subtasks"
                      [allowPaging]="false"
                      [pageSettings]="pageSettings"
                      [toolbar]='toolbar'
                      [allowResizing]="true"
                      allowReordering="true"
                      [allowRowDragAndDrop]='true'
                      [filterSettings]="filterSettings"
                      (actionComplete)="actionComplete($event)"
                      [contextMenuItems]='contextMenuItems'
                      (contextMenuClick)="contextMenuClick($event)"
                      (toolbarClick)='toolbarClick($event)'
                      (contextMenuOpen)="contextMenuOpen($event)"
                      [allowExcelExport]='true'
                      [allowPdfExport]='true'
                      [showColumnChooser]='true'
                      [frozenColumns]='frozenColumn'
                      (rowSelected)='rowSelected($event)'>
            <e-columns>
                <e-column *ngFor="let col of lstTreemodal"
                          field="{{col.field}}"
                          headerText="{{col.headerText}}"
                          textAlign="{{col.textAlign}}"
                          format="{{col.format}}"
                          editType="{{col.editTypes}}"
                          draggable="true"
                          freeze="{{col.freeze}}"
                          filter="{{col.filter}}"
                          isPrimaryKey="{{col.isPrimaryKey}}"
                          minWidth="{{col.minWidth}}"
                          maxWidth="{{col.maxWidth}}">
                          
                        </e-column>
            </e-columns>
        </ejs-treegrid>
        <ejs-dialog #alertDialog [buttons]='dlgButtons' [header]='header' [animationSettings]='animationSettings'
                    [content]='content' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' [visible]='visible'>
        </ejs-dialog>
    </div>
    <div *ngIf="MultiSortColumns" class="col-lg-4 property-section">
        <div class="property-panel-header mt-3 mb-3  text-center">
            <h3>
                MULTI SORTING
            </h3>
        </div>
        <div class="property-panel-section" style="padding: 0px 100px 0px 100px;">
            <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                <tr *ngFor="let value of lstTreemodal">
                    <td style="width: 70%">
                        <div>
                            {{value.headerText}}
                        </div>
                    </td>
                    <td style="width: 30%;padding:10px 10px 10px 0px">
                        <div class="col-md-6">
                            <input  type="checkbox" id="{{value.field}}" [(ngModel)]="value.checked" (change)="onClick1($event,value.field)">
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div *ngIf="ShowHideColumns" class="col-lg-4 property-section text-center">
        <div class="property-panel-header mt-3 mb-3">
            <h3>
                SHOW/HIDE COLUMNS
            </h3>
        </div>
        <div class="property-panel-section">
            <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                <tr>
                    <td style="width: 50%">
                        <div>COLUMN</div>
                    </td>
                    <td style="width: 50%;">
                        <div id='columnddl'>
                            <ejs-dropdownlist #dropdown3 id='ddlelement' width='120px' [dataSource]='d3data' [fields]='ddlfields' value='taskID' (change)="ShowHide($event)"></ejs-dropdownlist>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 35%;padding-top: 10px">
                        <div>
                            <button ejs-button #button1 cssClass="e-control e-btn e-lib e-primary e-flat" content="HIDE" id="hide" (click)="onClicked()"></button>
                        </div>
                    </td>
                    <td style="width: 35%;padding-top: 10px;padding-left: 7px">
                        <div>
                            <button ejs-button #button2 cssClass="e-control e-btn e-lib e-primary e-flat" content="SHOW" id="show" (click)="clicked($event)"></button>
                        </div>
                    </td>
                    <td style="width: 35%;padding-top: 10px;padding-left: 7px">
                        <div>
                            <button ejs-button class="e-control e-btn e-lib e-flat" (click)="Cancel()">Cancel</button>                        </div>
                    </td>
                </tr>
            </table>
            <div class="" style="padding-top: 10px">
                Hidden Columns
            </div>
            <div>
                <textarea id="hiddencolumns" style="resize: none;height:65px;background-color: #fff; padding: 6px"
                          class="form-control" readonly="readonly"></textarea>
            </div>
        </div>
    </div>
    <div *ngIf="NewColumns" class="col-lg-4 property-section text-center">
        <div class="property-panel-header mt-3 mb-3">
            <h3>
                MODIFY COLUMNS
            </h3>
        </div>
        <div class="property-panel-section">
            <button style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat mr-2" (click)="Addcolumns()">Add column</button>
            <button style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat mr-2"  (click)="Editcolumns()">Edit column</button>
            <button style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat"  (click)="Delcolumns()">Delete column</button>
        </div>
        <div *ngIf="Addcol" id="add" class="property-panel-section mt-5">
            <div>
                <input type="text" [(ngModel)]="objTreemodal.headerText">
            </div>
            <div class="e-footer-content mt-2">
                <button  style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat mr-2" (click)="InsertColumns()">Add</button>
                <button ejs-button class="e-control e-btn e-lib e-flat" (click)="Cancel()">Cancel</button>
            </div>
        </div>
        <div *ngIf="Editcol" id="edit" class="property-panel-section mt-5">
            <div>
                <select [(ngModel)]="objTreemodal.field" width='120px'>
                    <option [value]="col.field" *ngFor="let col of lstTreemodal">
                        {{col.headerText}}
                    </option>
                </select>
                <input type="text" class="ml-2" placeholder="Rename a column" [(ngModel)]="objTreemodal.headerText">
            </div>
            <div class="e-footer-content mt-2">
                <button  style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat mr-2" (click)="updateColumns()">Update</button>
                <button ejs-button class="e-control e-btn e-lib e-flat" (click)="Cancel()">Cancel</button>
            </div>
            <!-- <button cssClass="btn btn-default" class="mt-2 mr-2" (click)="updateColumns()">Update</button>
            <button ejs-button cssClass="btn btn-default mt-2" (click)="Cancel()">Cancel</button> -->

        </div>
        <div *ngIf="Delcol" id="delete" class="property-panel-section mt-5">
            <div>
                <select [(ngModel)]="objTreemodal.field" #dropdown3 id='ddlelement' width='120px'>
                    <option [value]="col.field" *ngFor="let col of lstTreemodal">
                        {{col.headerText}}
                    </option>
                </select>
            </div>
            <div class="e-footer-content mt-2">
                <button type="button" style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat mr-2" (click)="deleteColumns()">Delete</button>
                <button type="button" class="e-control e-btn e-lib e-flat">Cancel</button>
            </div>
            <!-- <button cssClass="btn btn-default" class="mt-2" (click)="deleteColumns()">Delete</button>
            <button cssClass="btn btn-default" class="mt-2" (click)="deleteColumns()">Cancel</button> -->
            
        </div>
    </div>
    <div *ngIf="StyleColumns" class="col-md-4 property-section text-center" id="styleColumnsConfig">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="property-panel-header mt-3 mb-3">
                    <h3>
                        COLUMN STYLE
                    </h3>
                </div>
                <div class="property-panel-section">
                    <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                        <tr>
                            <td style="width: 20%;text-align:left">
                                Column
                            </td>
                            <td style="width: 80%;text-align: left">
                                <div id='columnddl'>
                                    <ejs-dropdownlist #dropdown1 id='ddlColumn' width='120px' [dataSource]='d3data' [fields]='ddlfields' value='{{selectedColumnHeader}}' (change)="columnHeaderChange($event)"></ejs-dropdownlist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align:left">
                                Column data type
                            </td>
                            <td style="width: 80%;text-align: left">
                                <div id='columndataTypeddl'>
                                    <ejs-dropdownlist #dropdown2 id='ddldataTypeColumn' width='120px' [dataSource]='d5ColumnDataTypes' [fields]='ddlfields' value='{{defaultDatatypeSelected}}' (change)="changeColumnType($event)"></ejs-dropdownlist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left">
                                Minimum column width
                            </td>
                            <td style="width: 50%;text-align: left">
                                <div id='minimumColumnWidth'>
                                    <!--<ejs-dropdownlist #dropdown3 id='ddlelement' width='120px' [dataSource]='d3data' [fields]='ddlfields' value='taskID' (change)="ShowHide($event)"></ejs-dropdownlist>-->
                                    <ejs-numerictextbox #minimumWidthInput width='120px'  (focus)="minWidthfocusIn($event.target)" (blur)="minWidthfocusOut($event.target)" id="minColumnWidth" min="0" value="{{ minWidthofSelectedColumn}}" placeholder=''></ejs-numerictextbox>
                                    <!--<input class="e-input" name='input'  width="120" type="number" (focus)="focusIn($event.target)"
                                    placeholder="" value="12" (blur)="focusOut($event.target)" />-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align: left">
                                Font size
                            </td>
                            <td style="width: 80%;text-align: left">
                                <div id='fontSize'>
                                    <!--<ejs-dropdownlist #dropdown3 id='ddlelement' width='120px' [dataSource]='d3data' [fields]='ddlfields' value='taskID' (change)="ShowHide($event)"></ejs-dropdownlist>-->
                                    <ejs-numerictextbox #fontsize width='120px' id="fontSize" value="{{ defaultcellFontSize}}" placeholder='' (blur)="changeFontSize($event.target)"></ejs-numerictextbox>
                                    <!--<input class="e-input" name='input'  width='120' type="number" (focus)="focusIn($event.target)"
                                    placeholder="" value="12" (blur)="focusOut($event.target)" />-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align: left">
                                Font color
                            </td>
                            <td style="width: 80%;text-align: left">
                                <div id='fontColor'>
                                    <input ejs-colorpicker #fontColor type="color" id="fntcolorpicker" value="{{defaultcellColor}}"  (select)="changefontColor($event)" />
                                    

                                    <!--<input type="color" id="ftcolor-picker">-->
                                    <!--<ejs-dropdownlist #dropdown3 id='ddlelement' width='120px' [dataSource]='d3data' [fields]='ddlfields' value='taskID' (change)="ShowHide($event)"></ejs-dropdownlist>-->
                                    <!--<ejs-numerictextbox #numeric="" id="fontColor" width='120px' placeholder=''></ejs-numerictextbox>-->

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align: left">
                                Background color
                            </td>
                            <td style="width: 80%;text-align: left">
                                <div id='backgroundColor'>
                                    <input ejs-colorpicker #BgColor type="color" id="bgcolorpicker" value="{{defaultcellBgColor}}" (select)="changeBgColor($event)" />
                                    <!--<ejs-dropdownlist #dropdown3 id='ddlelement' width='120px' [dataSource]='d3data' [fields]='ddlfields' value='taskID' (change)="ShowHide($event)"></ejs-dropdownlist>-->
                                    <!--<ejs-numerictextbox #numeric="" id="backgroundColor" width='120px' placeholder=''></ejs-numerictextbox>-->

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align: left">
                                Alignment
                            </td>
                            <td style="width: 80%; text-align: left">
                                <div id='columnddl'>
                                    <ejs-dropdownlist #dropdown3 id='ddlAlignment' width='120px' [dataSource]='d4Allignment' [fields]='ddlfields' value='{{defaultAlignment}}' (change)="changeAlignment($event)"></ejs-dropdownlist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%; text-align: left">
                                Text Wrap
                            </td>
                            <td style="width: 80%; text-align: left">

                                <ejs-dropdownlist #textwrapdropdown id='textwrapddl' width='120px' [dataSource]='textwrapddl' [fields]='ddlfields' value='{{textWrapDefault}}' (change)="changeWrapSettings($event)"></ejs-dropdownlist>

                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; text-align: right">
                                <button ejs-button style="background-color: #f1e1e3 !important;" class="e-control e-btn e-lib e-primary e-flat mr-2" (click)="applyChangesAndSave()">Save</button>

                            </td>
                            <td style="width: 50%; text-align: left">
                                <button ejs-button class="e-control e-btn e-lib e-flat" (click)="Cancel()">Cancel</button>

                            </td>
                        </tr>
                        <!--<tr>
                            <td style="width: 30%; text-align: left">
                                <div>
                                    <button ejs-button #button1 cssClass="btn btn-default" content="HIDE" id="hide" (click)="onClicked()"></button>
                                </div>
                            </td>
                            <td style="width: 70%;padding-top: 10px;padding-left: 7px">
                                <div>
                                    <button ejs-button #button2 cssClass="btn btn-default" content="SHOW" id="show" (click)="clicked($event)"></button>
                                </div>
                            </td>
                        </tr>-->
                    </table>
                    <!-- <div>
                        <button ejs-button cssClass="btn btn-default" (click)="applyChangesAndSave()">Save</button>

                    </div> -->
                    <!--<div class="" style="padding-top: 10px">
                        Hidden Columns
                    </div>
                    <div>
                        <textarea id="hiddencolumns" style="resize: none;height:65px;background-color: #fff; padding: 6px"
                                  class="form-control" readonly="readonly"></textarea>
                    </div>-->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


    </div>
</div>


<style>
    .grid-freezeprop {
        padding-bottom: 5px;
    }

    .grid-freezecol {
        display: inline-block;
        padding-right: 10px;
    }
</style>
</div>
</div>